<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quote Today</title>
	<link rel="stylesheet" href="main.css">
	<script>
	    const apiEndpoint = "{{ .apiEndpoint }}"
		let isLike = false;
		let currentDateTimestamp = 0;
		const loadQuote = async () => {
			const response = await fetch(`${apiEndpoint}/api/date-quote`);
			const jsonRes = await response.json();
			document.getElementById("quote").innerHTML = jsonRes.author + ": \"" + jsonRes.quote + "\"";
			document.getElementById("like_count").innerHTML = jsonRes.like_count + " likes"
			currentDateTimestamp = jsonRes.date
		};
		const likeOrDislike = async () => {
			if (isLike) {
			    // Do dislike
				const response = await fetch(`${apiEndpoint}/api/date-quote/dislike`, {
					method: "POST",
					body: JSON.stringify({
						date: currentDateTimestamp
					}),
					headers: {
						"Content-type": "application/json; charset=UTF-8"
					}
				})
				if (response.status == 200) {
					const jsonRes = await response.json();
					document.getElementById("like_action").innerHTML = "Like"
					document.getElementById("like_count").innerHTML = jsonRes.like_count + " likes"
					isLike = false
				}
			} else {
				// do like
				const response = await fetch(`${apiEndpoint}/api/date-quote/like`, {
					method: "POST",
					body: JSON.stringify({
						date: currentDateTimestamp
					}),
					headers: {
						"Content-type": "application/json; charset=UTF-8"
					}
				})
				if (response.status == 200) {
					const jsonRes = await response.json();
					document.getElementById("like_action").innerHTML = "Dislike"
					document.getElementById("like_count").innerHTML = jsonRes.like_count + " likes"
					isLike = true
				}
			}
		};
		loadQuote();
	</script>
</head>
<body>
	<h1>Quote Today</h1>
	<p id="quote"></p>
	<p id="like_count"></p>
	<button id="like_action" type="button" onclick="likeOrDislike()">Like</button>
</body>
</html>
